{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    {% if transactions %}
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in transactions %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["date"] }}</td>
                    <td>{{ '%.2f' | format(row["shares"] * row["price"]) }}</td>  <!-- Adicionando o total -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No transactions found.</p>
    {% endif %}
{% endblock %}
